# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Environment
.env
.env.*

# Build
dist
build

# Tests
coverage
.nyc_output
test

# Misc
.DS_Store
*.log
*.swp
*.swo 