<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>You have requested to reset your password.</p>
    <p>Your OTP code is: <strong>{{otp}}</strong></p>
    <p>This code will expire in 15 minutes.</p>
    <p>If you did not request this password reset, please ignore this email.</p>
    <br>
    <p>Best regards,</p>
    <p>HIMTI Team</p>
</body>
</html> 