<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to HIMTI</title>
</head>
<body>
    <h2>Welcome to HIMTI Website!</h2>
    <p>Dear {{name}},</p>
    <p>Thank you for registering on the HIMTI website. We're excited to have you as a member of our community!</p>
    <p>You can now access all features of our website using your registered email address.</p>
    <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
    <br>
    <p>Best regards,</p>
    <p>HIMTI Team</p>
</body>
</html> 